%h1 Listing customers

%table
  %thead
    %tr
      %th ID
      %th Company
      %th Name
      %th Region
      %th
      %th
      %th

  %tbody
    - @customers.each do |customer|
      %tr
        %td= customer.id
        %td= customer.company.id
        %td= customer.name
        %td= customer.region&.name
        %td= link_to 'Edit', edit_customer_path(customer)
        %td= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Customer', new_customer_path
