%p#notice= notice
%h1 Companies
%table
  %thead
    %tr
      %th ID
      %th Name
      %th GCRA
      %th Users
      %th Regions
      %th Customers
      %th Questions
      %th Surveys
      %th Actions
  %tbody
    - @companies.each do |company|
      %tr
        %td= company.id
        %td= company.name
        %td= link_to company.gcra_settings.count, company_gcra_settings_path(company)
        %td= link_to company.users.count, company_users_path(company)
        %td= link_to company.regions.count, company_regions_path(company)
        %td= link_to company.customers.count, company_customers_path(company)
        %td= link_to company.questions.count, company_questions_path(company)
        %td= link_to company.surveys.count, company_surveys_path(company)
        %td= link_to 'Show', company
        %td= link_to 'Edit', edit_company_path(company)
        %td= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Company', new_company_path
